<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN PAGE</title>
</head>
<body>
    <h1>HEY THIS IS SIGNUP PAGE</h1>
    <form action="/user/login" method="post">
        <label for="Name">Email</label>
        <input type="text" name="email" placeholder="Enter Your Email" required>
        <label for="Name">Password</label>
        <input type="text" name="password" placeholder="Enter Your Password" required>
        <button type="submit">LogIn</button>
    </form>
</body>
</html>